<% content_for :title, @domain %>

<div class="domain-splash">
  <div class="text-center">
    <p class="domain-label">This domain is registered</p>
    <h1 class="domain-name"><%= @domain %></h1>
  </div>
</div>
